<body>
  
<h1>Calculadora</h1>
<input class="form-control" id="disabledInput" title="Numero 1" placeholder="123.." type="number"  [(ngModel)]="n1">
<hr>
<input title="Numero 2" placeholder="123.." type="number" [(ngModel)]="n2">


<p><button title="Limpar" (click)="Limpar()" > C</button><button (click)="operation('+')" title="Adição"> + </button > <button (click)="operation('-')" title="Subtração"> - </button> <button  (click)="operation('/')" title="Divisão">/</button> <button (click)="operation('*')" title="Multiplicação">*</button> <button (click)="operation('%')" title="Porcentagem">%</button> 

  <h4 title="Resultado das somas"> Resultado: <span> {{ resultado }}</span></h4> 
  <footer>Gambiarra Soluctions &copy;</footer>
</body>